@charset "UTF-8";
body {
    background-color: rgba(0, 0, 0, 0.288);
    font-family: Arial, Helvetica, sans-serif; text-align: justify ; font-size: 20px; 

}
h1 {
    color: rgb(148, 11, 148);

}
h2 {
    color: cornflowerblue;
}
p {
    color: aquamarine;
}
