@charset "UTF-8";
* {
   font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #a6603796,#D99379);
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #945632bb;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #964c45;
    text-align: center;
    text-shadow: 1px 1px 2px #7a3e39cb;
}

h2 {
    color: #8C1111;
}
p {
    text-align: justify;
    color: #260101;
}